<form  name="editRow" ng-submit="saveTask(task)"ng-model-options="{updateOn: 'submit'}">
       <div class="row">
        <div class="col-md-5">
            <input type="text" data-ng-model="task.title"  class="form-control" required/>
        </div>
        <div class="col-md-3">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-danger active">
              <input type="checkbox"
               autocomplete="off"> High
            </label>
            <label class="btn btn-warning">
              <input type="checkbox" autocomplete="off"> Medium
            </label>
            <label class="btn btn-primary">
              <input checked type="checkbox" autocomplete="off"> Low
            </label>
          </div>
        </div>
        <div class="col-md-2 pull-right">
            <input type="text"  class="form-control" data-ng-model="task.category"  required/>
        </div>
        <div class="col-md-2 pull-right">
            <input type="date" date-format class="form-control" data-ng-model="task.dueDate"  required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="form-control" data-ng-model="task.description"  required/>
        </div>
    </div>
<div class="task-{{task.id}}"></div>
    <button class="btn-error" ng-click="deleteTask(task)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
<button class="btn-default" type="submit" >Save</button>
   <button class="btn-error" ng-click="clearTask(editRow)">Clear</button>
</form>
